.App{
  display:grid;
  height: 100%;
}

.background_image{
    background-image: url('./assets/background.jpeg');
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  background-attachment: fixed;
  width:100%;
}

.App-header{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}


.heading{
  display: flex;
  justify-content: center;
}


.interactive-section{
  margin: 1rem auto;
}

