.App{
  background-image: url('./assets/background.jpeg');
  background-size:cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header{
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
}

.heading .h1{
  margin: 6% 2vmin;
}

.heading{
  display: flex;
  justify-content: center;
}

.interactive-section{
  width: 30%;
  margin: 2% auto;
}