.form{
	background-color: rgba(200,200,200,0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height:fit-content;
	padding:2% 2%;
/*	width: 26rem;*/
	min-width: 36rem;
}

.form .h1{
	font-size: 100px;
}

.heading h1{
	text-align: center;
}

.btn{
	padding: 4px;
	border-radius: 10px;
	background-color: #ffffff;
	font-size: 1rem;
	color : black;
	cursor: pointer;
}

.upload-section{
	width: 100%;
}

.form-info-section{
	height: 20%;
	margin:5%;
	text-align: center;
}

.input-section{
	display: flex;
	justify-content: center;
	margin:2% 10%;
	margin-left: 10%;
}

.prev_file{
	object-fit: cover;
	max-width: 15vw;
	border-radius: 10px;
	font-size: 2vmin;
	display: none;
	margin:auto;
}

.prev_image{
	object-fit: cover;
	max-width: 15vw;
	border-radius: 10px;
	font-size: 2vmin;
	margin:auto;
}

.preview-file{
	width: fit-content;
	margin: auto;
	display: flex;
	justify-content: center;
	cursor: copy;
}

#image_prev_div{
	border-width: 0.2px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.file-input-box{
	margin:10px 10px;
}

.input-section	input{
	display: none;
}

.button-cover{
	width: 100%;
	display: flex;
	justify-content: center;
}


.input-section label{
	cursor: copy;
	background-color: royalblue;
	color: black;
	border-radius: 10px;
	padding:2%;
	margin:2%;
	font-size: 1.7vmin;
}

.filter-option{
	display:flex;
	justify-content:space-around;
	flex-direction: column;
	margin: 4%;
	border-radius: 5px;
	border-width: 0.2px;

}

.filter-option h4{
	text-align: center;
	margin-top:0px;
	margin-bottom: 10px;
}
.filter-option input{
	width: 1.5em;
	height:1.5em;
}

.color-section{
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}

.hidden_text{
	font-size: 10px;
	color:red;
	text-align: center;
	display: none;
	width: inherit;
}

.result_file{
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	margin: 20px;
}

.result_file > img{
	object-fit: cover;
    max-width: 15vw;
    font-size: 2vmin;
    margin: auto;
    padding: 12px;
    border-radius: 26px;
    width: 70rem;
}

.result_file > video{
	object-fit: cover;
    max-width: 15vw;
    font-size: 2vmin;
    margin: auto;
    padding: 12px;
    border-radius: 26px;
}

.get_to_home{
	color: white;
	margin-top: 10px;
	font-size: 12px;
    text-decoration-line: underline;  
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

@media only screen and (max-width: 1180px){
	.color-section{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin:0px 17%;
		text-align: center;
		width: fit-content;
	}

	.interactive-section{
		width: 50%;
	}
}






